#edit-question.questions.edit-question
  .content
    .left

    .center
      %h1
        Questions

      .box
        %h2
          Edit question

        .description
          Edit your question.

        = render 'partials/question_form'

    .right
    .clear
