#new-question.questions.new-question
  .content
    .left

    .center
      = render 'partials/navigation'

      %h1
        Questions

      .box
        %h2
          New question

        .description
          Create a new question.

        = render 'partials/question_form'

    .right
    .clear
