language: ruby
rvm:
  - 2.2.3
env:
  - DB=sqlite
  - DB=postgresql
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - cp config/database.yml.travis config/database.yml
  - psql -c 'create database travis_ci_test;' -U postgres
script:
  - bundle exec rspec --order rand
