@import 'shared/variables';

.error-page {
  a {
    color: $blue;

    &:hover {
      color: $blueDark;
    }
  }

  .bombs {
    padding: 2px 0 2px 15px;
    width: 65px;

    position: absolute;
    top: 50%;

    background-color: #ffffff;
  }

  .box {
    width: 400px;
    margin: 150px auto;

    p {
      text-align: left;
    }
  }
}
