@import 'shared/variables';

.courses.show {
  li {
    a {
      .status {
        padding: 3px 0;
        float: left;

        .fa {
          font-size: $fontSizeLargest;
        }

        .fa-check {
          color: $greenLight;
        }

        .fa-chevron-right {
          padding: 0 3px;
        }
      }

      .category {
        margin: 0 10px 0 0;
        padding: 1px 5px;

        float: left;

        font-size: $fontSizeSmall;
        color: $white;
        background-color: $blue;

        border-radius: 3px;
      }

      .date {
        color: $grey;
      }
    }

    &:hover a {
      .fa-check {
        color: $green;
      }
    }
  }
}
