- if user_signed_in?
  %header.header
    .content
      .left
        %a{ href: root_path }
          = image_tag('logo-small.png')

      .center
        &nbsp;

      .right
        .user
          .avatar
            = image_tag(current_user.avatar_image(:tiny))

          .username
            = current_user.username

        .nav-bar
          .nav-item
            %a{ href: new_board_path, title: 'Create a new board' }
              %i.fa.fa-plus

          .nav-item
            %a{ href: edit_user_registration_path, title: 'Edit profile' }
              %i.fa.fa-gear

          .nav-item
            %a{ href: destroy_user_session_path, title: 'Logout', data: { method: 'delete' } }
              %i.fa.fa-sign-out

          .clear

      .clear
