- if notice
  .message.success
    .icon
      %i.fa.fa-check-circle

    .text
      = notice

- if alert
  .message.error
    .icon
      %i.fa.fa-times-circle

    .text
      = alert

:javascript
  $(document).on('ready page:load', function() {
    var message = new Message('.message');
  });
