@import 'shared/variables';

html {
  height: 100%;

  body {
    height: 100%;
    margin: 0;

    font-family: $fontBasic;
    font-size: $fontSizeBasic;
    font-weight: $fontWeightNormal;

    line-height: 1.6;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: $greyDark;
    background-color: $blue;
    background-image: image-url('background-dot.png');
  }

  h1 {
    margin: 10px 0;
    font-size: $fontSizeH1;
  }

  a {
    color: $yellowLight;

    font-weight: $fontWeightSemibold;
    text-decoration: none;

    &:hover {
      color: $yellow;
    }
  }

  input, button {
    padding: 10px 20px;
    border: 0;

    font-size: $fontSizeMediumBigger;

    &[type=submit] {
      font-weight: $fontWeightBold;

      color: $white;
      background-color: $blue;

      &:hover {
        background-color: $blueDark;
        cursor: pointer;
      }

      &.green {
        background-color: $greenLight;

        &:hover {
          background-color: $green;
        }
      }

      &.red {
        background-color: $redLight;

        &:hover {
          background-color: $red;
        }
      }
    }
  }

  .fa-input {
    padding: 0 15px;
    border: 1px solid $greyLight;

    input, button {
      margin: 0 auto;
      border: 0;

      &[type=submit] {
        .fa {
          margin: 0 5px 0 -5px;

          color: $white;
          opacity: 0.4;
        }
      }
    }

    .fa {
      color: $greyLight;
    }

    &.button {
      border: 0;
    }

    &.small {
      input {
        width: 210px;
      }

      input[type=submit], button[type=submit] {
        width: 300px;
      }
    }
  }

  .content {
    width: 1120px;
    margin: 0 auto;

    .left, .right {
      margin: 0 5px;
      width: 250px;

      float: left;
    }

    .center {
      margin: 0 5px;
      width: 590px;

      float: left;
    }
  }

  .box {
    padding: 15px;

    text-align: center;

    background-color: $white;
    border-radius: 3px;

    -webkit-box-shadow: 7px 7px 0 -2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 7px 7px 0 -2px rgba(0, 0, 0, 0.15);
    box-shadow: 7px 7px 0 -2px rgba(0, 0, 0, 0.15);

    h1 {
      margin: 0 0 10px 0;
      text-align: left;
    }

    .description {
      margin: 0 0 20px 0;

      color: $grey;
      text-align: left;
    }

    .field {
      margin: 5px 0 10px 0;

      clear: both;

      .error {
        margin: 5px 0;

        color: $red;
        text-align: left;
      }
    }

    .actions {
      .fa-input {
        padding: 0;
      }
    }

    .left-col {
      width: 330px;
      float: left;
    }
  }

  .avatar {
    border-radius: 3px;
    overflow: hidden;
  }

  .fa {
    font-size: $fontSizeLarge;

    &.fa-envelope {
      font-size: $fontSizeMediumGreater;
    }
  }

  .divider {
    width: 100%;
    margin: 20px 0;
    border-bottom: 1px dotted $greyLight;
  }

  .clear {
    clear: both;
  }
}
