@import 'shared/variables';

html {
  height: 100%;

  body {
    height: 100%;
    margin: 0;

    font-family: $fontBasic;
    font-size: $fontSizeBasic;
    font-weight: $fontWeightNormal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: $blue;
    background-image: image-url('background-dot.png');
  }
}
