// Colors
$black:                 #000000;
$white:                 #ffffff;

$greyDark:              #383838;
$grey:                  #999999;
$greyLight:             #dfdfdf;

$blue:                  #3c99ca;
$blueLight:             #5da4ca;

$yellow:                #ffe57a;
$yellowLight:           #ffefae;

// Fonts
$fontBasic:             'Open Sans', Arial, sans-serif;
$fontAwesome:           'FontAwesome', Arial, sans-serif;

// Weights
$fontWeightLight:       300;
$fontWeightNormal:      400;
$fontWeightSemibold:    600;
$fontWeightBold:        700;

// Sizes
$fontSizeBasic:         12px;

$fontSizeSmall:         11px;
$fontSizeMedium:        13px;
$fontSizeMediumBigger:  15px;
$fontSizeLarge:         17px;
