// Colors
$black:                 #000000;
$white:                 #ffffff;

$greyDark:              #383838;
$grey:                  #999999;
$greyLight:             #dfdfdf;

$blueDark:              #5da4ca;
$blue:                  #74b5d3;

$yellow:                #ffe57a;
$yellowLight:           #ffefae;

$red:                   #dc4d4d;
$redLight:              #fcd9db;

$green:                 #70d984;
$greenLight:            #a9e8b5;

// Fonts
$fontBasic:             'Open Sans', Arial, sans-serif;
$fontAwesome:           'FontAwesome', Arial, sans-serif;

// Weights
$fontWeightLight:       300;
$fontWeightNormal:      400;
$fontWeightSemibold:    600;
$fontWeightBold:        700;

// Sizes
$fontSizeBasic:         12px;

$fontSizeSmall:         11px;
$fontSizeMedium:        13px;
$fontSizeMediumGreater: 14px;
$fontSizeMediumBigger:  15px;
$fontSizeLarge:         17px;
$fontSizeLargest:       24px;

$fontSizeH1:            18px;
