#boards.boards
  .content
    .left

    .center
      - if @owned_boards.present? || @assigned_boards.present?
        = render 'partials/dashboard'

      - else
        = render 'partials/welcome'

    .right
    .clear
