#new-board.boards.new-board
  .content
    .left

    .center
      %h1
        Boards

      .box
        %h2
          New board

        .description
          Create a new board.

        = render 'partials/board_form'

    .right
    .clear
