@import 'shared/variables';

.board-form {
  .menu {
    li {
      margin: 0 10px;
      float: left;

      background-color: $white;
      border-radius: 3px;

      a {
        padding: 10px;
        color: $blueDark;
      }

      &:hover, &.active {
        background-color: $blueDark;

        a {
          color: $white;
        }
      }
    }
  }

  .page {
    margin: 20px 10px;
    display: none;

    &.active {
      display: block;
    }

    .board-title, .board-description {
      input {
        width: 440px;
      }
    }

    .table {
      font-size: $fontSizeMediumGreater;

      .title {
        color: $blueDark;
        font-weight: $fontWeightBold;
      }

      .options {
        color: $grey;
        font-weight: $fontWeightSemibold;
      }
    }

    .privacy {
      input[type=radio] {
        margin: 0 15px 0 40px;
      }
    }

    .submission {
      .title {
        margin: 10px 0;
      }
    }
  }

  .actions {
    margin: 10px;

    .submit {
      float: right;
    }
  }
}
