@import 'shared/variables';

.code-field {
  text-align: left;

  .options {
    float: right;

    ul {
      margin: 0;

      li {
        margin: 0 10px;
        float: left;

        background-color: $white;
        border-radius: 3px;

        a {
          padding: 10px;
          color: $blueDark;
        }

        &:hover, &.active {
          background-color: $blueDark;

          a {
            color: $white;
          }
        }
      }
    }
  }

  .page {
    display: none;

    &.preview {
      h2 {
        margin: 28px 0 16px 0;
      }
    }

    &.active {
      display: block;
    }
  }
}
