@import 'shared/variables';

.code-field {
  .options {
    margin: 10px 0;
    float: right;

    li {
      margin: 0 10px;
      float: left;

      background-color: $white;
      border-radius: 3px;

      a {
        padding: 10px;
        color: $blueDark;
      }

      &:hover, &.active {
        background-color: $blueDark;

        a {
          color: $white;
        }
      }
    }
  }

  .page {
    display: none;

    &.active {
      display: block;
    }
  }
}
