@import 'shared/variables';

.comment-thread {
  .comment {
    .left-comment-col {
      width: 500px;
      float: left;
    }

    .right-comment-col {
      width: 50px;
      float: right;

      .verify {
        margin: 0 20px;

        color: $greyLight;

        .fa {
          font-size: $fontSizeLargest;
        }

        &.active, &:hover {
          color: $green;
        }
      }
    }

    .comment-actions {
      margin: 10px 0 0 0;
      padding: 9px 10px 5px;

      border-top: 1px solid #f0f0f0;
      border-bottom: 1px solid #f0f0f0;

      a {
        color: $greyLight;

        &:hover {
          color: $greyDark;
        }
      }
    }

    .comment-footer {
      .description {
        padding: 10px 0;
        float: left;
      }

      .info {
        .description {
          padding: 0;
        }
      }
    }

    .replies {
      padding: 10px 20px;
      border-left: 10px solid $greyLight;

      .avatar {
        margin: 0 10px 0 0;
        float: left;
      }

      .description {
        float: left;
      }

      .verify {
        color: $greyLight;

        &.active, &:hover {
          color: $green;
        }
      }
    }
  }
}
