@import 'shared/variables';

.comment-thread {
  .comment {
    .left-comment-col {
      width: 500px;
      float: left;

      .comment-content {
        padding: 10px 0;

        .markdown-body {
          font-size: 1em;
          line-height: 1.5;
        }
      }
    }

    .right-comment-col {
      width: 50px;
      float: right;

      .verify {
        margin: 0 20px;

        color: $greyLight;

        .fa {
          font-size: $fontSizeLargest;
        }

        &.active, &:hover {
          color: $green;
        }
      }
    }

    .comment-actions {
      margin: 10px 0 0 0;
      padding: 9px 10px 5px;

      border-top: 1px solid #f0f0f0;
      border-bottom: 1px solid #f0f0f0;

      .reply {
        a {
          color: $greyLight;

          &:hover {
            color: $greyDark;
          }
        }
      }

      .add-reply {
        padding: 15px 0;
        display: none;

        textarea {
          height: 50px;
        }

        .actions {
          .submit {
            float: right;
          }
        }

        &.active {
          display: block;
        }
      }
    }

    .comment-footer {
      .description {
        padding: 10px 0;
        float: left;
      }

      .info {
        .description {
          padding: 0;
        }
      }
    }

    .replies {
      padding: 10px 20px;
      border-left: 10px solid $greyLight;

      .comment-reply {
        .avatar {
          margin: 0 10px 0 0;
          float: left;
        }

        .description {
          float: left;
        }

        .verify {
          color: $greyLight;

          &.active, &:hover {
            color: $green;
          }
        }

        .comment-content {
          padding: 10px 0;

          .markdown-body {
            font-size: 1em;
            line-height: 1.5;
          }
        }
      }
    }
  }
}
