@import 'shared/variables';

.course-form {
  .menu {
    li {
      margin: 0 10px;
      float: left;

      background-color: $white;
      border-radius: 3px;

      a {
        padding: 10px;
        color: $blueDark;
      }

      &:hover, &.active {
        background-color: $blueDark;

        a {
          color: $white;
        }
      }
    }
  }

  .page {
    margin: 20px 10px;
    display: none;

    .list {
      input {
        width: 250px;
      }

      &.lectures {
        label {
          margin: 0 20px;
        }

        input {
          border: 1px solid $greyLight;
        }
      }

      &.achievements {
        input {
          border: 1px solid $greyLight;
        }

        textarea {
          width: 345px;
        }

        .entry {
          padding: 15px 0;
          border-bottom: 1px dotted $greyLight;

          .row {
            margin: 10px 0;

            label {
              margin: 0 20px;
            }
          }
        }
      }
    }

    .course-title, .course-description {
      input {
        width: 440px;
      }
    }

    .table {
      font-size: $fontSizeMediumGreater;

      .title {
        color: $blueDark;
        font-weight: $fontWeightBold;
      }

      .options {
        color: $grey;
        font-weight: $fontWeightSemibold;
      }
    }

    .privacy {
      input[type=radio] {
        margin: 0 15px 0 40px;
      }
    }

    .user-list {
      .user {
        width: 100px;

        padding: 5px;
        margin: 5px;

        background-color: $greyLighter;
        float: left;

        .name {
          float: left;
        }

        .delete {
          float: right;
        }
      }
    }

    .user-selector {
      .add {
        textarea {
          height: 100px;
          width: 500px;
        }
      }
    }

    &.active {
      display: block;
    }
  }

  .actions {
    margin: 10px;

    .submit {
      float: right;
    }
  }
}
