@import 'shared/variables';

.course-form {
  .menu {
    li {
      margin: 0 10px;
      float: left;

      background-color: $white;
      border-radius: 3px;

      a {
        padding: 10px;
        color: $blueDark;
      }

      &:hover, &.active {
        background-color: $blueDark;

        a {
          color: $white;
        }
      }
    }
  }

  .page {
    margin: 20px 10px;
    display: none;

    &.active {
      display: block;
    }

    .course-title, .course-description {
      input {
        width: 440px;
      }
    }

    .table {
      font-size: $fontSizeMediumGreater;

      .title {
        color: $blueDark;
        font-weight: $fontWeightBold;
      }

      .options {
        color: $grey;
        font-weight: $fontWeightSemibold;
      }
    }

    .privacy {
      input[type=radio] {
        margin: 0 15px 0 40px;
      }
    }

    .user-list {
      .user {
        width: 100px;

        padding: 5px;
        margin: 5px;

        background-color: $greyLighter;
        float: left;

        .name {
          float: left;
        }

        .delete {
          float: right;
        }
      }
    }

    .user-selector {
      .add {
        textarea {
          height: 100px;
          width: 500px;
        }
      }
    }
  }

  .actions {
    margin: 10px;

    .submit {
      float: right;
    }
  }
}
