@import 'shared/variables';

.question-form {
  textarea {
    height: 250px;
    width: 480px;
  }

  .page {
    margin: 20px 10px;

    .table {
      font-size: $fontSizeMediumGreater;

      .title {
        color: $blueDark;
        font-weight: $fontWeightBold;
      }

      .options {
        color: $grey;
        font-weight: $fontWeightSemibold;
      }
    }

    .privacy {
      input[type=radio] {
        margin: 0 15px 0 40px;
      }
    }

    .file-upload {
      .title {
        margin: 10px 0;
      }

      .options {
        input {
          padding: 10px 0;
        }
      }
    }

    .file-attachments {
      .options {
        padding: 0 5px;

        .attachment {
          width: 75px;

          margin: 10px 20px;
          padding: 5px;

          float: left;

          .preview {
            height: 40px;
            width: 40px;

            margin: 0 auto;

            border-radius: 3px;
            overflow: hidden;

            img {
              width: 40px;
            }
          }
        }
      }
    }
  }

  .actions {
    margin: 10px;

    .submit {
      float: right;
    }
  }
}
