@import 'shared/variables';

.question-form {
  textarea {
    height: 250px;
    width: 480px;
  }

  .page {
    margin: 20px 10px;

    .table {
      font-size: $fontSizeMediumGreater;

      .title {
        color: $blueDark;
        font-weight: $fontWeightBold;
      }

      .options {
        color: $grey;
        font-weight: $fontWeightSemibold;
      }
    }

    .privacy {
      input[type=radio] {
        margin: 0 15px 0 40px;
      }
    }
  }

  .actions {
    margin: 10px;

    .submit {
      float: right;
    }
  }
}
