#courses.courses
  .content
    .left

    .center
      - if @owned_courses.present? || @assigned_courses.present?
        = render 'partials/dashboard'

      - else
        = render 'partials/welcome'

    .right
    .clear
