#new-course.courses.new-course
  .content
    .left

    .center
      %h1
        Courses

      .box
        %h2
          New Course

        .description
          Create a new course.

        = render 'partials/course_form'

    .right
    .clear
